---
const {title, id, end} = Astro.props

---

<section id={id} class="min-h-screen flex flex-col justify-center items-center">

  <div class="flex justify-center w-full flex-wrap">
  <slot/>
  </div>
</section>
{end? null : <div class="h-[25vh]"></div>}