---
import { getCollection } from "astro:content";
import HeroCard from "./HeroCard";
const { collectionName, title } = Astro.props
type EntryData = {
  title: string;
  learned: boolean;
  icon: string;
};
const collection = await getCollection(collectionName) as {data : EntryData}[];
---


<div class="bg-slate-900 p-5 scroll-fade shadow-slate-900 shadow-lg/80 rounded-2xl max-w-xs m-3 ">
  

  <div class="flex items-center justify-center h-full gap-4 flex-wrap">
    <div class="justify-self-start self-start h-22  via-slate-800 from-slate-800 to-slate-850 w-full rounded-t-2xl bg-gradient-to-b">
      <h2 class="mb-3 text-3xl text-gray-300 font-black text-center">{title}</h2>
    </div>

    {collection.map((entry, index) => {
      const { title, learned, icon } = entry.data;
      return (
        <div>
          <HeroCard title={title} learned={learned} icon={icon} client:load/>
        </div>
      );
    })}
  </div>
</div>
